[submodule "link/tmux/plugins/tpm"]
	path = link/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "link/tmuxifier"]
	path = link/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
	ignore = untracked
[submodule "link/vim/pack/minpac/opt/minpac"]
	path = link/vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
	ignore = untracked
