snippet class
class ${1:`!p snip.rv = snip.basename or "Untitled"`} {
    ${0}
}
endsnippet

snippet main
public static void main(String[] args){
    ${0}
}
endsnippet

snippet m  "method" b
${1:private} ${2:void} ${3:method}($4) {
	$0
}
endsnippet

snippet try "try/catch" b
try {
	$1${VISUAL}
} catch(${2:Exception} ${3:e}){
	${4:e.printStackTrace();}
}
endsnippet

snippet print
System.out.println("${0}");
endsnippet

snippet re
return ${0};
endsnippet

# vim:ft=snippets:
